body{
 margin:0;
 background: radial-gradient(circle at center, #020617, #000);
 font-family: 'Segoe UI', sans-serif;
 color:white;
}

#app{
 display:flex;
 justify-content:space-between;
 padding:20px;
}

.left,.right{
 width:22%;
 background: rgba(255,255,255,0.05);
 border-radius:15px;
 padding:10px;
 backdrop-filter: blur(10px);
}

.dual{
 display:flex;
 gap:10px;
}

.dual div{
 width:50%;
}

.center{
 width:50%;
 text-align:center;
}

.rules{
 background: rgba(0,0,0,0.6);
 padding:15px;
 border-radius:15px;
 margin-bottom:20px;
}

.board{
 background: linear-gradient(145deg,#111,#222);
 border-radius:25px;
 padding:50px;
 box-shadow: 0 0 60px rgba(0,255,255,0.4);
}

.dice{
 font-size:100px;
 margin:20px;
 display:inline-block;
 animation: spin 1s linear infinite;
}

@keyframes spin{
 0%{transform:rotate(0)}
 100%{transform:rotate(360deg)}
}

#popup{
 position:absolute;
 top:15%;
 left:50%;
 transform:translateX(-50%);
 background:rgba(0,0,0,0.9);
 padding:20px;
 border-radius:15px;
 font-size:22px;
}


ul li{
 display:flex;
 align-items:center;
 margin:5px 0;
 font-size:14px;
}

ul li img{
 border-radius:50%;
 box-shadow:0 0 10px rgba(0,255,255,0.7);
}
