body{background:transparent;color:white;font-family:sans-serif}
#app{display:flex;justify-content:space-between}
.left,.right{width:20%}
.center{width:50%;text-align:center}
.dice-area div{font-size:70px}
#popup{position:absolute;top:20%;left:50%;transform:translateX(-50%);background:black;padding:15px}
