
/* PRO pointer metal style */
#pointer{
position:absolute;
bottom:-22px;
left:50%;
transform:translateX(-50%);
width:0;
height:0;
border-left:28px solid transparent;
border-right:28px solid transparent;
border-top:55px solid #ff2e2e;
filter:drop-shadow(0 0 10px red);
z-index:20;
}
