
body{
background:#111;
color:white;
font-family:sans-serif;
display:flex;
justify-content:space-between;
align-items:center;
height:100vh;
}

#wheelContainer{
position:relative;
text-align:center;
}

#pointer{
position:absolute;
top:-10px;
left:50%;
transform:translateX(-50%);
font-size:30px;
color:red;
}

#centerText{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
background:rgba(0,0,0,0.6);
padding:15px;
border-radius:10px;
}

#leftPanel,#rightPanel{
width:200px;
}
