body{
background:#0b0b0b;
color:white;
font-family:Arial;
text-align:center;
}

.centerText{
margin-top:10px;
line-height:1.4;
}

#wheelWrapper{
position:relative;
display:inline-block;
margin-top:20px;
}

#pointer{
position:absolute;
top:-8px;
left:50%;
transform:translateX(-50%);
width:0;
height:0;
border-left:18px solid transparent;
border-right:18px solid transparent;
border-bottom:35px solid red;
z-index:10;
}

canvas{
border-radius:50%;
box-shadow:0 0 25px rgba(255,255,255,0.3);
}

button{
margin-top:25px;
padding:14px 50px;
font-size:22px;
background:#ffffff;
border:none;
cursor:pointer;
}

#result{
font-size:34px;
margin-top:25px;
}
